<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>


<body class="content">
<header th:replace="fragments/commons :: navigation_menubar"></header>

<main>
    <div class="item">
        <h1 style=" margin-top: 100px;">Add news</h1>
        <form th:action="@{/news/add}"
              th:method="POST"
              th:object="${newsAddBindingMode}"
              enctype="multipart/form-data">

            <div class="txt_field">
                <input th:field="*{picture}"
                       th:errorclass="is-invalid"
                       type="file"
                       required
                       name="imageUrl"
                       id="imageUrl">
                <span></span>
                <label>Picture</label>
                <p class="errors alert alert-danger invalid-feedback">
                    Product picture is required.
                </p>
            </div>
            <div class="txt_field">
                <input th:field="*{topic}"
                       th:errorclass="is-invalid"
                       minlength="10"
                       maxlength="25"
                       type="text"
                       required
                       name="topic"
                       id="topic">
                <span></span>
                <label>Topic</label>
<!--                <p class="errors alert alert-danger invalid-feedback">-->
<!--                   News topic is required.-->
<!--                </p>-->
                <small id="topicError"
                       class="text-danger invalid-feedback">     News topic is required</small>

            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field="*{description}" th:errorclass="is-invalid" name="description" minlength="20"
                          id="description" type="textarea" class="form-control" rows="3"
                          placeholder="Description"></textarea>
                <p class="errors alert alert-danger invalid-feedback">
                    Description is required.
                </p>
            </div>

            <button class="btnForm" type="submit">Add new news</button>

        </form>

    </div>


</main>

<footer th:replace="fragments/commons :: footer"></footer>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>


<!-- <h2 class="my-5 text-center">NEWS</h2>
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">1</div>
                        <div class="col-sm">2</div>
                        <div class="col-sm">3</div>
                    </div>
            </div> -->