<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>


<body class="content">
<header th:replace="fragments/commons :: navigation_menubar"></header>

<main>
    <div class="item">
        <h1 style=" margin-top: 100px;">Add news</h1>
        <form th:action="@{/news/add}"
              th:method="POST"
              th:object="${newsAddBindingMode}"
              enctype="multipart/form-data">

            <div class="txt_field">
                <input th:field="*{picture}"
                       type="file"
                       required
                       name="imageUrl"
                       id="imageUrl">
                <span></span>
                <label>Picture</label>
                <p class="errors alert alert-danger invalid-feedback">
                    Product picture is required.
                </p>
            </div>
            <div class="txt_field">
                <input th:field="*{topic}"
                       type="text"
                       required
                       name="topic"
                       id="topic">
                <span></span>
                <label>Topic</label>
                <p class="errors alert alert-danger invalid-feedback">
                   News topic is required.
                </p>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field="*{description}" th:errorclass="is-invalid" name="description"
                          id="description" type="textarea" class="form-control" rows="3"
                          placeholder="Description"></textarea>
                <p class="errors alert alert-danger invalid-feedback">
                    Description is required.
                </p>
            </div>


            <button class="btnForm" type="submit">Add new news</button>

        </form>

    </div>


</main>
<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
               href="https://www.facebook.com/arsenalbulgaria/" ; role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
               href="https://twitter.com/arsenalbulgaria" ; role="button"><i class="fab fa-twitter"></i></a>

            <!-- Instagram -->

            <a class="btn btn-primary btn-floating m-1" style="background-color:  #ac2bac;"
               href="https://www.instagram.com/arsenalbulgaria/" ; role="button"><i
                    class="fab fa-instagram"></i></a>
            <!-- Youtube -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #a31f1f;"
               href="https://www.youtube.com/user/ArsenalSCBulgaria" ; role="button"><i
                    class="fab fa-youtube-square"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: Arsenal-Bulgaria
    </div>
    <!-- Copyright -->
</footer>


<!-- <footer>
    <div class="inner-footer">

        <div class="social-links">
                <ul>
                    <li class="social-items"><a href="https://www.facebook.com/arsenalbulgaria/"><i class="fab fa-facebook"></i></a></li>
                    <li class="social-items"><a href="https://twitter.com/arsenalbulgaria"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="social-items"><a href="https://www.instagram.com/arsenalbulgaria/"><i class="fab fa-instagram"></i></a></li>
                    <li class="social-items"><a href="https://www.youtube.com/user/ArsenalSCBulgaria"><i class="fab fa-youtube-square"></i></a></li>
                </ul>
        </div>
        <div class="outer-footer">
            © Arsenal Supporters Club Bulgaria.
        </div>
    </div>



</footer> -->

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>


<!-- <h2 class="my-5 text-center">NEWS</h2>
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">1</div>
                        <div class="col-sm">2</div>
                        <div class="col-sm">3</div>
                    </div>
            </div> -->