<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body class="content">
    <header th:replace="fragments/commons :: navigation_menubar"></header>


    <main>
        <div class="item">
            <h1 style=" margin-top: 100px;">Edit news</h1>
            <form   th:object="${newsModel}"
                    th:action="@{/news/edit/{id}(id=*{id})}"
                    th:method="patch"  enctype="multipart/form-data">

                <div class="txt_field">
                    <span> <img th:src="*{urlPicture}" class="card-img-top"  alt="..." height="150px" width="120px"/></span>
                </div>
                <div class="txt_field">
                    <input type="text"
                           th:field="*{newsName}"
                           th:errorclass="is-invalid"
                           required
                           name="news_name">
                    <small id="newsNameError"
                           class="text-danger invalid-feedback">News name is required.</small>
                    <label>News Name</label>
                </div>

                    <div class="form-group txt_field">
                        <label for="exampleFormControlTextarea1">Text</label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                   
                    <button class="btnForm" type="submit">Save</button>
                  
            </form>
        
        </div>


    </main>
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                    href="https://www.facebook.com/arsenalbulgaria/" ; role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
                    href="https://twitter.com/arsenalbulgaria" ; role="button"><i class="fab fa-twitter"></i></a>

                <!-- Instagram -->

                <a class="btn btn-primary btn-floating m-1" style="background-color:  #ac2bac;"
                    href="https://www.instagram.com/arsenalbulgaria/" ; role="button"><i
                        class="fab fa-instagram"></i></a>
                <!-- Youtube -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #a31f1f;"
                    href="https://www.youtube.com/user/ArsenalSCBulgaria" ; role="button"><i
                        class="fab fa-youtube-square"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright: Arsenal-Bulgaria
        </div>
        <!-- Copyright -->
    </footer>



    <!-- <footer>
        <div class="inner-footer">

            <div class="social-links">
                    <ul>
                        <li class="social-items"><a href="https://www.facebook.com/arsenalbulgaria/"><i class="fab fa-facebook"></i></a></li>
                        <li class="social-items"><a href="https://twitter.com/arsenalbulgaria"><i class="fab fa-twitter-square"></i></a></li>
                        <li class="social-items"><a href="https://www.instagram.com/arsenalbulgaria/"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-items"><a href="https://www.youtube.com/user/ArsenalSCBulgaria"><i class="fab fa-youtube-square"></i></a></li>
                    </ul>
            </div>
            <div class="outer-footer">
                © Arsenal Supporters Club Bulgaria.
            </div>
        </div>
        
     
        
    </footer> -->

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>


<!-- <h2 class="my-5 text-center">NEWS</h2>
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">1</div>
                        <div class="col-sm">2</div>
                        <div class="col-sm">3</div>
                    </div>
            </div> -->