<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body class="content">
<header th:replace="fragments/commons :: navigation_menubar"></header>

<main>
    <div class="item ">
        <h1 style="margin-top: 50px;">Edit product</h1>
        <form
                th:object="${productModel}"
                th:action="@{/product/{id}/edit(id=*{id})}"
                th:method="patch">
            <div class="txt_field">
                <input
                        th:field="*{urlPicture}"
                        th:errorclass="is-invalid"
                        type="url"
                        required
                        name="imageUrl">
                <p class="invalid-feedback errors alert alert-danger">
                    Product image URL is required.
                </p>

            </div>
            <div class="txt_field">
                <input type="text"
                       th:field="*{productName}"
                       th:errorclass="is-invalid"
                       required
                       name="product_name">
                <small id="productNameError"
                       class="text-danger invalid-feedback">Product name is required.</small>
                <label>Product Name</label>
            </div>
            <div class="txt_field">
                <input th:field="*{price}"
                        type="text"
                       required
                       name="price">
                <small id="priceError"
                       class="text-danger invalid-feedback">Price is required and positive.</small>
                <label>Price</label>
            </div>
            <div class="txt_field">
                <input th:field="*{countProduct}"
                        type="text"
                        required
                        name="price">
                <small id="countProductError"
                       class="text-danger invalid-feedback">Count is required and positive or zero.</small>
                <label>Count</label>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Update Offer"/>
                    </div>
                </div>
            </div>

        </form>

    </div>


</main>
<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>
