<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/error.css">

	</style>
</head>

<body>
	<section id="error">
		<div class="content">
			<i class="fa fa-warning"></i>
<!--			<h1>404</h1>-->
			<p >"Error occurred! - The requests resource  not Found"</p>
			<a class="back" th:href="@{/}"> home page</a>
		</div>
	</section>

</body>

</html>