<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<!--NAVIGATION BAR AND MENU BAR-->
<body class="content">
<header th:replace="fragments/commons :: navigation_menubar">

</header>

<main>
    <!--    message box for successful registration-->

    <div th:if="${session.message}" class="alert alert-danger text-center">
        Registration was successful !
    </div>


    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-inner mx-auto p-4" style="width: 500px;">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="images/bloodDoation.png" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="images/membership.png" class="d-block w-100" alt="...">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <section class="container">

            <div class="row">
                <div class="side">
                    <h2>Следващ мач</h2>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <td class="text-left"><img style="height: 100px" src="images/NextMatch/arsenal.png"></td>
                            <td class="text-center" style="vertical-align: middle;"><img style="margin-right: 10px"
                                                                                         src="images/NextMatch/premierleague.png">
                            </td>
                            <td class="text-right"><img style="height: 100px"
                                                        src="images/NextMatch/crystal_palace.png"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center " colspan="3">
                                <h3 style="margin: 0;">Арсенал — Кристал Палас</h3>
                                <small>понеделник, 18.10.2021, 22:00</small>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>

                        <td class="text-center " colspan="3">
                            <iframe src="https://arsenal-bulgaria.com/page/table-short.php" width="100%"
                                    height="200px"></iframe>
                        </td>

                        </tbody>
                        <tbody>

                        <td class="text-center " colspan="3">

                            <a href="/question.html" tabindex="-1" aria-disabled="true"> <img src="images/quiz.png"
                                                                                              class="img-thumbnail"
                                                                                              alt="Quiz for Arsenal"></a>
                        </td>
                        </tbody>
                    </table>
                </div>

                <div class="main">
                    <div th:each="m : ${allnews}" >
                        <h2 th:text="${m.topic}">Дамите - футбол, вдъхновение, страст и благотворителност!</h2>
                        <h5 th:text="|от ${m.user.username}, ${m.localDate.toString()}|">от Mario, Dec 7, 2017</h5>
                        <div class="fakeimg">
                            <img th:src="${m.urlPictureNews}" alt="" height="300px">
                        </div>
                        <p th:text="${#strings.substring(m.description,0,350) + '...'}">Някои твърдят, че футбола е „мъжка“ игра. Оооо, тeзи хора явно никога не са гледали как го
                            играят
                            представителките на „нежния“ пол. Нещо повече, те със сигурност не са били на игрищата на
                            „Грийнспорт“ в столичния квартал Слатина миналата събота. А, трябваше! Защото, така щяха да
                            усетят
                            една истинска страст, неподправена емоция и хъс, които много често липсват в играта на
                            мъжете в
                            тяхната т.н. „мъжка“ игра и които са присъщи само и единствено на „футболните амазонки“..
                        </p>
                        <button class="button" style="vertical-align:middle"><span>read more </span></button>
                        <button class="button" style="vertical-align:middle"><span>Edit </span></button>

                        <hr class="line">
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>

<footer th:replace="fragments/commons :: footer"></footer>


</body>

</html>