<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<!--NAVIGATION BAR AND MENU BAR-->
<body class="content">
<header th:replace="fragments/commons :: navigation_menubar"></header>

<main>
    <!--    message box for successful registration-->
    <div th:if="${registerSuccess}" class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        Registration was successful and you were logged in !
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <!--        message after add new product-->

    <div th:if="${addOrder}" class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        <p th:text="${addOrder}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <!--        message after user update-->
    <div th:if="${updateProfile}" class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        <p th:text="${updateProfile}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div th:if="${addNewHistoryByUser}" class="alert alert-primary alert-dismissible fade show text-center"
         role="alert">
        <p th:text="${addNewHistoryByUser}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>


    <div th:replace="fragments/commons :: slideBar"></div>

    <section class="container">

        <div class="row">
            <div th:replace="fragments/commons :: leftColumn"></div>

            <div class="main" id="newsContainer">

                <div th:each="n : ${allNews}">
                    <h2 th:text="${n.topic}">Дамите - футбол, вдъхновение, страст и благотворителност!</h2>
                    <h5 th:text="|от ${n.user.username}, ${n.localDate.toString()}|">от Mario, Dec 7, 2017</h5>
                    <div class="fakeimg">
                        <img th:src="${n.urlPictureNews}" alt="" height="300px">
                    </div>
                    <p th:text="${n.description.length() > 350} ?
                        ${#strings.substring(n.description,0,350) + '...'} :
                        ${n.description}">Някои твърдят,
                    </p>
                    <button class="button" style="vertical-align:middle"><a th:href="@{/news/details/{id}(id=*{n.id})}">read
                        more </a></button>

                    <!--                        <button sec:authorize="hasAnyRole('ADMIN') or hasAnyRole('MODERATOR')"-->
                    <!--                                class="button" style="vertical-align:middle"><a>Edit </a></button>-->
                    <hr class="line">
                </div>


                <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
                    <ul class="pagination">
<!--                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->

                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link active"  th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                            <span class="page-link" style="background-color: burlywood" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </li>

<!--                        <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
                    </ul>
                </nav>

            </div>
        </div>
    </section>
    </div>
</main>

<footer th:replace="fragments/commons :: footer"></footer>
<script th:src="@{/js/home.js}"></script>

</body>

</html>