<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal-Bulgaria</title>
    <script src="https://kit.fontawesome.com/d93df215fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- <style>
        .navigation {
            background-image: url("img/background.jpg");
            width: 1370px;
            background-position: center;
            background-size: 100%;
        }
    </style> -->


</head>

<body class="content">
    <header class="header">
        <nav class="navbar   navbar-expand-lg navbar-dark p-md-3">
            <div class="container">
                <a href="#" class=""><img src="img/logo3.png" alt="Logo Arsenal"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id='navbarToggleExternalContent'>
                <ul class="navbar-nav text-center ">
                    <li class="nav-item "><a href="#" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="#" class="nav-link ">Sign'up</a></li>
                    <li class="nav-item"><a href="#" class="nav-link ">Logout</a></li>
                    <li class="nav-item"><a href="#" class="nav-link "><i class="fas fa-user"></i></a></li>
                </ul>
            </div>

        </nav>

        <!-- NAVIGATION BAR -->
        <section class="navigation_bar ">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Fanclub</a>
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="#">History</a>
                                <li><a href="#">Become a member</a>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Store</a>
                        <div class="sub-menu-1">

                            <ul>
                                <li><a href="#">Buy</a>
                                <li><a href="#">My Purchases</a>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Forum</a>

                </ul>
                <div class="animation start-home"></div>
            </nav>
        </section>
    </header>

    <main>
        <section class="container">

            <div class="row">
                <div class="side">
                    <h2>Следващ мач</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td class="text-left"><img style="height: 100px" src="img/NextMatch/arsenal.png"></td>
                                <td class="text-center" style="vertical-align: middle;"><img style="margin-right: 10px"
                                        src="img/NextMatch/premierleague.png"> </td>
                                <td class="text-right"><img style="height: 100px"
                                        src="img/NextMatch/crystal_palace.png"></td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center " colspan="3">
                                    <h3 style="margin: 0;">Арсенал — Кристал Палас</h3>
                                    <small>понеделник, 18.10.2021, 22:00</small>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>

                            <td class="text-center " colspan="3">
                                <iframe src="https://arsenal-bulgaria.com/page/table-short.php" width="100%"
                                    height="200px"></iframe>
                            </td>

                        </tbody>

                    </table>

                </div>

                <div class="main">
                    <div class="container">
                        <h1>Дамите - футбол, вдъхновение, страст и благотворителност!</h1>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="imgAbt">
                                    <img width="100%" height="100%" src="img/Container/woman.jpg" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>Някои твърдят, че футбола е „мъжка“ игра. Оооо, тeзи хора явно никога не са гледали
                                    как
                                    го играят представителките на „нежния“ пол. Нещо повече, те със сигурност не са били
                                    на
                                    игрищата на „Грийнспорт“ в столичния квартал Слатина миналата събота. А, трябваше!
                                    Защото, така щяха да усетят една истинска страст, неподправена емоция и хъс, които
                                    много
                                    често липсват в играта на мъжете в тяхната т.н. „мъжка“ игра и които са присъщи само
                                    и
                                    единствено на „футболните амазонки“. Понякога тези състояния на духа липсват и на
                                    нас
                                    като привърженици в презадоволената от футбол всяка една съботa! А, съботите са за
                                    футбол, но оня истинският, който ни вдъхнови в най-ранна възраст, а после ни събра в
                                    организацията „Арсенал България“. Такъв един истински, какъвто се игра на 02
                                    октомври
                                    2021 година от 8-те отбора, които се включиха във вече станалия традиционен турнир
                                    за
                                    дами любителки. Когато преди няколко години се разгоря един епичен спор между хора
                                    от УС
                                    и представители на клонове за прословутото точкуване на играещите във Форумната лига
                                    и
                                    някак еретично се прокрадна идея и за дамски тим, то едва ли и най-смелите мечтатели
                                    като Петко Александров(инициатор и треньор на ASCB Ladies) са очаквали, че 4 години
                                    по-късно новината за това мероприятие ще стои в спортните медии до имената на Пеп и
                                    Клоп. При това напълно заслужено.
                                    „В началото бе словото“, както обичаме да си говорим с Петко, защото именно
                                    споменатата
                                    словесна „дискусия“ (доста меко определение за онзи вербален поток преди години) се
                                    роди
                                    прекрасната идея да създадем наша любителска дамска футболна формация с първоначален
                                    замисъл да подкрепим благотворителна кауза. Това си беше достатъчна мотивация на
                                    ентусиазирани момичета да се включат в една непозната за тях област изцяло извън
                                    зоната
                                    им на комфорт. Още по-приятно за нас е, че магията на играта владее десетки други
                                    дами,
                                    които вече години наред горят с играта и се включват в нашето скромно мероприятие.
                                    Нещо
                                    повече, това създаде много нови запознанства и приятелства, а само, който не е
                                    гледал
                                    състезателния хъс на дамите, не може да разбере с каква страст се хвърлят в
                                    двубоите.
                                    Именно този интерес към играта и правенето на добро мотивира УС да организира и
                                    есенно
                                    издание на надпреварата, която смело можем да наречем изключително успешна и гордо
                                    да
                                    отбележим, как се превърна в част от футболния календар, оня календар облечен в
                                    аматьорското начало, но точно онова начало, което води аматьорите до победи над
                                    професионалистите. Защото всеки един участвал в организирането, в самите футболни
                                    двубои
                                    и дарил е истински победител. Един турнир в който големият победител е правенето на
                                    добро с любов, каквото е и френското значение на думата „amateur“.
                                    В слънчевата събота на 02 октомври в надпреварата се включиха рекордните до момента
                                    8
                                    отбора в лицето на организаторите от ASCB Ladies, ФК „Атлетико“, „EnJoy“, „Лъвиците
                                    на
                                    Лео“, „Национал НСА“, „PwC“, „Скрити Лимонки“ и „Торнадо лейдис“, както и доброволки
                                    дошли с желание да се забавляват и помогнат на нашите партньори от сдружение „Деца с
                                    онкохематологични заболявания“. Отборите бяха разпределени в две групи с по 4
                                    състава,
                                    като тегленето на жребия и самите срещи бяха транслирани на живо в страницата на
                                    АМФЛ
                                    във Фейсбук, а това в добавка със съдиите и лекарите накара прекрасните Дами да се
                                    почувстват на една истинска и конкурентна футболна арена.
                                    По време на турнира видяхме много голове, страхотно индивидуално майсторство,
                                    изгаряща
                                    енергия, колективен дух и стремеж за отборен резултат. А, когато видиш, как
                                    момичета,
                                    които в ежедневието носят токчета и елегантни чанти, преминават съперника с финеса
                                    на
                                    Пирес, стрелят с мощта и точността на Тиери Анри, а в единоборствата са твърди като
                                    Адамс и Киоун, то няма как да не изпаднеш в екстаз и да не им отдадеш аплаузи за
                                    удоволствието, което доставят. Удоволствие за нас и уважение от вкаралия на Ювентус
                                    Екундайо Джайеоба, който също погледа част зрелището на терена. И тук не искаме да
                                    говорим за спортни резултати и класиране, а за емоцията на момичетата, за уважението
                                    към
                                    противника, за извиненията които бяха поднесени при неминуемите инциденти, когато
                                    има
                                    толкова много емоция и страст. Всички срещи ни припомниха атмосферата на едно вече
                                    позабравено очарование във футбола, защото водещата мотивация бе единствено
                                    чистосърдечното желание да играят футбол. А, това и липсата на финансови облаги
                                    създаде
                                    за пореден път една истинска футболна атмосфера, която се превръща в празник за
                                    всички
                                    нас. Умиление и възхищение предизвиква и това как момичета като Теди от Пловдив и
                                    Сандра
                                    от Асеновград бяха дошли да играят за честта на ASCB Ladies и в името на една велика
                                    кауза, каквато е правенето на добро. Именно доброто и това да научим на добри дела
                                    присъстващите на съревнованието деца е и наша цел и призвание, които надхвърлят
                                    идеята
                                    за един фен клуб в неговия общоприет формат. Идея, която „Арсенал България“ отдавна
                                    е
                                    превърнал в свое мото.
                                    Не би било честно, да не споменем, че EnJoy спечелиха за втори пореден път
                                    надпреварата,
                                    както и събраните рекордни средства от зрители и партньорите спомоществователи в
                                    размер
                                    на 13 190,00 лева. Всичко това и усмивките на малките „сървайвари“ са нашата
                                    мотивация и
                                    катализатор, които ни карат да очакваме с нетърпение следващата надпревара през май
                                    2022
                                    година.
                                    От името на ASCB искаме да благодарим на всички наши патньори в лицето на „SiLVER
                                    COURT“, „Рейнарс Алуминиум“, фондация „Продължи доброто“ „Eddy’s bakery“, „Еаt &Go“,
                                    „Стада България“, „Димиев Студио“, „Скрити лимонки“ и тяхната кампания „Книги за
                                    усмивки“, „Веспа Клуб 2% Brothers България“, АМФЛ, спортен комплекс „Грийнспорт“,
                                    БНТ и
                                    десетките привърженици по трибуните. За всички тях важи в пълна степен и девиза на
                                    Дейвид „Роки“ Рокясъл: „Помни кой си, какво си и кого представляваш!“, защото това
                                    което
                                    те направиха за децата в нужда е това, което ги определя като хора. А, за нас като
                                    фен
                                    клуб този турнир и издадената автобиография на Иън Райт правят 2021 една
                                    забележителна
                                    година!

                                </p>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </section>

        <!-- Comment section -->

        <div class="container mt-5 p-4">
            <div class="d-flex justify-content-center row">
                <div class="col-md-12">
                    <div class="d-flex flex-column comment-section">
                        <!-- comentar -->
                        <div class="bg-white p-2">

                            <div class="d-flex flex-column justify-content-start ml-2"><span
                                    class="d-block font-weight-bold name">Marry Andrews</span><span
                                    class="date text-black-50">Shared publicly - Jan 2020</span></div>

                            <div class="mt-2">
                                <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>

                        </div>

                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                    src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                <div class="d-flex flex-column justify-content-start ml-2"><span
                                        class="d-block font-weight-bold name">Marry Andrews</span><span
                                        class="date text-black-50">Shared publicly - Jan 2020</span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>

                        </div>
                        <div class="bg-white">
                            <div class="d-flex flex-row fs-12">
                                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                        class="ml-1">Like</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                        class="ml-1">Comment</span></div>

                            </div>
                        </div>
                        <div class="bg-light p-2">
                            <div class="d-flex flex-row align-items-start"><img class="rounded-circle"
                                    src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea
                                    class="form-control ml-1 shadow-none textarea"></textarea></div>
                            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm  "
                                    type="button">Post comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                    href="https://www.facebook.com/arsenalbulgaria/" ; role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
                    href="https://twitter.com/arsenalbulgaria" ; role="button"><i class="fab fa-twitter"></i></a>

                <!-- Instagram -->

                <a class="btn btn-primary btn-floating m-1" style="background-color:  #ac2bac;"
                    href="https://www.instagram.com/arsenalbulgaria/" ; role="button"><i
                        class="fab fa-instagram"></i></a>
                <!-- Youtube -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #a31f1f;"
                    href="https://www.youtube.com/user/ArsenalSCBulgaria" ; role="button"><i
                        class="fab fa-youtube-square"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright: Arsenal-Bulgaria
        </div>
        <!-- Copyright -->
    </footer>



    <!-- <footer>
        <div class="inner-footer">

            <div class="social-links">
                    <ul>
                        <li class="social-items"><a href="https://www.facebook.com/arsenalbulgaria/"><i class="fab fa-facebook"></i></a></li>
                        <li class="social-items"><a href="https://twitter.com/arsenalbulgaria"><i class="fab fa-twitter-square"></i></a></li>
                        <li class="social-items"><a href="https://www.instagram.com/arsenalbulgaria/"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-items"><a href="https://www.youtube.com/user/ArsenalSCBulgaria"><i class="fab fa-youtube-square"></i></a></li>
                    </ul>
            </div>
            <div class="outer-footer">
                © Arsenal Supporters Club Bulgaria.
            </div>
        </div>
        
     
        
    </footer> -->

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>


<!-- <h2 class="my-5 text-center">NEWS</h2>
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">1</div>
                        <div class="col-sm">2</div>
                        <div class="col-sm">3</div>
                    </div>
            </div> -->